:root {
    --brand-text: #43A67F;
    --regular-text: #444444;
    --navigation-footer-header: #323232;
    --bold-text-form: #111111;
    --title: #484848;
    --disabled-text: #959595;
    --disabled-colour: #DEDEDE;
    --regular-text-form: #555555;
    --brand-bg: #4B8088;
    --header-footer-bg: #E8DCCC;
    --background: #F2F2F2;
}