@import "tailwindcss";
@plugin "tailgrids/plugin";

/* Дополнительные стили */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #fe5a08;
}

html {
  scroll-behavior: smooth;
}

.active {
  color: var(--color-primary);
}

.swiper-pagination {
  position: absolute !important;
  bottom: 8px !important;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
}