@import "/src/style/base/variables.css";


.app__header {
    background-color: white;
}

.stripe {
    width: 100%;
    height: 16px;
    display: grid;
    grid-template-columns: 27.6% 72.4%;
}

.orange-stripe {
    height: 100%;
    background-color: #F36A43;
}

.red-stripe {
    height: 100%;
    background-color: #CB3C18;
}

.header__wrapper {
    display: flex;
    height: 104px;
    justify-content: space-between;
    align-items: center;
    padding: 0 143px 0 67px;
}

.header__left-part {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__right-part {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__title {
    font-size: 40px;
}

.header__title span {
    color: #F03D28;
}